* {
    background: rgba(1, 7, 16, 0.7);
    primary: #d7e7ff;
    primary-fixed: #d0e4ff;
    primary-fixed-dim: #b0c9e8;
    on-primary: #000713;
    on-primary-fixed: #000000;
    on-primary-fixed-variant: #0a263e;
    primary-container: #94acca;
    on-primary-container: #000000;
    secondary: #dee6f5;
    secondary-fixed: #dae3f1;
    secondary-fixed-dim: #bec7d5;
    on-secondary: #010710;
    on-secondary-fixed: #000000;
    on-secondary-fixed-variant: #1c252f;
    secondary-container: #a2abb8;
    on-secondary-container: #000000;
    tertiary: #fddbff;
    tertiary-fixed: #fbd7fd;
    tertiary-fixed-dim: #debce1;
    on-tertiary: #110118;
    on-tertiary-fixed: #000000;
    on-tertiary-fixed-variant: #321c38;
    tertiary-container: #c09fc3;
    on-tertiary-container: #000000;
    error: #ffdfdb;
    on-error: #190000;
    error-container: #ff877b;
    on-error-container: #000000;
    surface: #121315;
    on-surface: #ffffff;
    on-surface-variant: #ffffff;
    outline: #ced1d9;
    outline-variant: #a7aab1;
    shadow: #000000;
    scrim: #000000;
    inverse-surface: #e3e2e4;
    inverse-on-surface: #010102;
    inverse-primary: #324a64;
    surface-dim: #121315;
    surface-bright: #494a4c;
    surface-container-lowest: #030405;
    surface-container-low: #1e1f21;
    surface-container: #2b2c2e;
    surface-container-high: #363739;
    surface-container-highest: #414244;
}
